[submodule "site-cookbooks/particle-cli"]
	path = site-cookbooks/particle-cli
	url = git@github.com:tenaciousRas/chef-particle-cli.git
[submodule "site-cookbooks/gcc-arm-embedded"]
	path = site-cookbooks/gcc-arm-embedded
	url = git@github.com:tenaciousRas/chef-gcc-arm-embedded.git
[submodule "site-cookbooks/dfu-util"]
	path = site-cookbooks/dfu-util
	url = git@github.com:tenaciousRas/chef-dfu-util.git
[submodule "vagrant-share/web-ui"]
	path = vagrant-share/web-ui
	url = git@github.com:tenaciousRas/ledwax-web-ui.git
[submodule "vagrant-share/emulator"]
	path = vagrant-share/emulator
	url = git@github.com:tenaciousRas/ledwax-photon-emulator.git
[submodule "vagrant-share/firmware"]
	path = vagrant-share/firmware
	url = git@github.com:tenaciousRas/ledwax-photon-firmware.git
